#countries{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:30px;
}
.country{
    padding: 20px;
    text-align: center;
    width: 300px;
}
.country-name{
    font-size: 40px;
    color: lightsalmon;
}
#country-detail img{
    width: 100%;
    height: 200px;
}